

table {
    border-collapse: collapse;
}
.containerx{
    max-width: 84vw;
    margin: 40px auto;
    margin-top: -200px;
    margin-left: 170px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    width: 90vw;
    text-align: center;
    color: rgb(216, 211, 211);
}

th{
    background-color: gray;
}

td:last-child {
    text-align: center;
}

td:nth-child(4):hover {
    background-color: green;
    cursor: pointer;
}

td:nth-child(5):hover{
    background-color: red;
    cursor: pointer;
}

td{
    text-align: center;
}
th{
    font-size: 25px;
}
td{
    font-size: 20px;
}
