#error-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f0f0f0; */
  }
  
  .content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    /* background-color: #fff; */
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(243, 240, 240, 0.1);
  }
  
  .header {
    font-size: 48px;
    font-weight: bold;
    color: #878484;
    margin-bottom: 10px;
  }
  
  .content h4 {
    font-size: 24px;
    font-weight: bold;
    color: #b1afaf;
    margin-bottom: 20px;
  }
  
  .content p {
    font-size: 18px;
    color: #999;
    margin-bottom: 30px;
  }
  
  .btns {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .btns a {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .btns a:hover {
    background-color: #3e8e41;
  }
  
  .btns a:first-child {
    margin-right: 20px;
  }