/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #b3adad;
    /* background-color: #f9f9f9; */
  }
  
  header {
    /* background-color: #333; */
    padding: 1em;
    text-align: center;
    /* color: #fff; */
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav li {
    margin-right: 20px;
  }
  
  header nav a {
    /* color: #fff; */
    text-decoration: none;
    transition: color 0.2s ease;
  }

  header nav .flex{
    display: flex;
    flex-direction: column;
  }
  
  header nav a:hover {
    color: #ccc;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Welcome Box Styles */
  
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    /* background-color: #fff; */
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100vw;
  }
  
  .welcom {
    flex: 1;
    padding: 20px;
  }
  
  .welcom h2 {
    margin-top: 0;
    font-weight: bold;
    color: #bcb6b6;
  }
  
  .welcom p {
    margin-bottom: 20px;
  }
  
  .img {
    flex: 1;
    padding: 20px;
    text-align: center;
  }
  
  .img img {
    width: 100%;
    border-radius: 50%;
    margin: 20px;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 768px) {
    .box {
      flex-direction: column;
    }
    .welcom {
      padding: 10px;
    }
    .img {
      padding: 10px;
    }
    .img img {
      width: 100%;
      height: 100%;
    }
  }